AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net
ADMIN_PASSWORD=changeme
SESSION_SECRET=change-this-to-a-random-32-char-string
